.avatar {width: 70px; height: 70px; border-radius: 50%; background: #80aab8; flex-shrink: 0; margin-right: 10px;}
button.subscribe {font-size: 30px;}
.pageList {display: flex; width: 100%; margin: 20px 0;}
.pageList span {margin: 0 10px; cursor: pointer;}
.pageList span:hover {opacity: 0.5;}
.selectedPage {font-weight: bold;}
