.dialogsWrap {display: flex; width: 100%;}
.dialogsWrap .listWrap {width: 29%; border-right: 1px solid #4be04f; margin-right: 10px; display: flex; flex-direction: column;}
.dialogsWrap .listWrap .list {display: flex; flex-direction: column; align-items: center;}
.dialogsWrap .listWrap h1 {font-size: 26px;}


.chat {width: 70%; display: flex; flex-direction: column;}
.chat .sendWrap {width: 100%; display: flex; flex-direction: column; margin-top: auto;}

.message {width: 70%; display: flex; margin: 10px 0;}
.message.my {margin: 10px 0 0 auto; justify-content: flex-end;}

.avatar {width: 70px; height: 70px; border-radius: 50%; background: #80aab8; flex-shrink: 0; margin-right: 10px;}
.avatar.my {margin-left: 10px;}

.message span {display: flex; word-wrap: break-word; padding: 10px 20px; border: 1px solid #8190A5; border-radius: 25px; align-items: center;}
.message span.my {border: 1px solid #4be04f;}
