.postsFeed {width: 100%; display: flex; flex-direction: column; align-items: center; margin: 0 auto;}
.postForm {margin-bottom: 15px; width: 90%; min-width: 360px;  padding: 20px; border-radius: 20px; box-shadow: inset 0 0 10px 4px #000508, 0 0 10px 4px #000508;}
.posts {color: #000; width: 90%; min-width: 360px;}
.formWrap {display: flex; width: 100%;}
