header {grid-area: h; background: #374140; width: 100%; flex:0 0 auto; padding: 10px 15px; align-items: center; justify-content: space-between; display: flex; min-height: 120px; border-radius: 0 0 15px 15px;}
header .logo {height: 100px; pointer-events: none; background-size: cover;}
.userNameWrap {display: flex; align-items: center;}

.loginBlock {float: right;}
.loginBlock .linc {text-decoration: none; color: #fff; font-size: 34px;}
.loginBlock .linc.isLogin {margin-right: 10px;}
