
header .logo {height: 100px; pointer-events: none; background-size: cover;}


.loginBlock .linc {text-decoration: none; color: #fff; font-size: 16px;}
.loginBlock .linc.isLogin {margin-right: 10px;}
