/*----profile----*/
h1 {margin: 0;}
.mainImg {width: 100%;}
.mainImg img {height: 224px; width: 100%;}
.userInfo {display: flex;}
.userInfo .avatar {width: 174px; height: 164px; border-radius: 50%;}

.avaWrap {width: 100%;}
.avaWrap .imgWrap {width: 175px;}
.inputFileWrap {width: 100%; position: relative;}
.inputFile {width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: 1;}

.inputFile + label {
	font-size: 1.25em;
	font-weight: 700;
	color: white;
	background-color: black;
	display: inline-block;
	cursor: pointer; /* "hand" cursor */
}
.inputFile:focus + label,
.inputFile + label:hover {
	background-color: red;
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}


.infoWrap {display: flex; justify-content: end; width: 100%;}
.info {display: flex; flex-direction: column; margin: 0 20px;  max-width: 33%;}

.infoItemBlock {font-weight: bold;}

.contactsVal {font-weight: normal; margin-left: 33px;}

.contactsItem {display: flex; flex-direction: column; width: 100%; margin: 10px 0;}
.imgTitle {display: flex; align-items: center;}
.imgSocial {background: url('../../../../img/sicial-preview.png') no-repeat; width: 26px; height: 26px; display: block; flex-shrink: 0; margin-right: 7px;}

.imgSocial.facebook {background-position-x: -9px; background-position-y: -9px;}
.imgSocial.website {background-position-x: -279px; background-position-y: -219px;}
.imgSocial.imgSocial.vk {background-position-x: -129px; background-position-y: -9px;}
.imgSocial.twitter {background-position-x: -39px; background-position-y: -9px;}
.imgSocial.instagram {background-position-x: -99px; background-position-y: -9px;}
.imgSocial.youtube {background-position-x: -9px; background-position-y: -39px;}
.imgSocial.github {background-position-x: -69px; background-position-y: -129px;}
.imgSocial.mainLink {background-position-x: -279px; background-position-y: -219px;}
.contactsItem .item {margin-right: 5px; font-weight: bold;}