/*----Login----*/
h1 {margin-bottom: 15px;}
.formLogin {margin: 0 auto; width: 100%; max-width: 300px; align-items: center; justify-content: center; display: flex; flex-direction: column;  padding: 20px;border-radius: 20px; box-shadow: inset 0 0 10px 4px #000508, 0 0 10px 4px #000508;}
.formControl.error span {color: #923737;}
.formSummaryError {border: 1px solid #923737; padding: 5px; color: #923737; border-radius: 20px; background: #ff8e6a;}
.checkboxWrap {display: flex; justify-content: baseline; align-items: center; margin-right: auto;}
